section {
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .deal-of-the-day {
    display: none;
  }
}
.image-shadow {
  box-shadow: 10px 11px 13px 12px;
}
.carousel {
  margin-bottom: 10vh;
}
