body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  border: 1px solid #353535;
  padding: 0;
}

ul:first-child {
  height: 200px;
}

li {
  border-bottom: 1px solid rgb(233, 233, 233);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

h3 {
  font-weight: 600;
  background-color: #353535;
  color: white;
  margin-bottom: 0;
}

.btn-danger {
  font-size: 12px !important;
  padding: 0px 7px;
}

#nameList li {
  padding: 5px 10px;
}
